# Core
streamlit>=1.38.0
pandas>=2.2.0
numpy>=1.26.0

# Forecasting
statsmodels>=0.14.0
pmdarima>=2.0.4

# Visualization
plotly>=5.22.0

# Excel Export
xlsxwriter>=3.2.0

# Optional (si subís archivos Excel)
openpyxl>=3.1.3
